<!DOCTYPE html>
<html>
  <head>
    <title>Google+ Login Custom Button</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="static/css/csss.css"> -->
  </head>
  <body>
    <div class="login_box">
      <form onsubmit="return login()">
          <label >Email address</label>
          <input type="email" class="form-control" id="username" placeholder="name@example.com">
          <label >Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
          
    
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Login</button>
      </form>
      <div id="img"></div>
      <button onclick="checkFbLoginState();">Login with Facebook</button>
      <br>
    </div>
    <script>
        window.fbAsyncInit = function() {
    FB.init({
      appId      : '2498763683629022',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.1'
    });

    FB.AppEvents.logPageView();

  };
  
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
        
      
      var fbLoginStatus = false;
      function checkFbLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      function statusChangeCallback(response) {
        if(fbLoginStatus == false) {  
          if (response.status == 'connected') {
            fbLoginStatus = true;

          } else {
            FB.login(function(response) {
              if (response.authResponse){
                fbLoginStatus = true;

                getCurrentUserInfo(response);
              } else {
                console.log('Auth failed.');
              }
            }, {scope: 'public_profile'});
          }
        } 
      }
      function getCurrentUserInfo(response) {   
          FB.api('/me?fields=name,email,first_name,last_name,id', function(userInfo) {
            console.log(userInfo);
            const profilePictureUrl =  "https://graph.facebook.com/"+response.authResponse.userID+"/picture?type=large&access_token="+response.authResponse.accessToken
            const img = document.createElement('img');
            img.src = profilePictureUrl;
            img.alt = 'Profile Picture';
            document.getElementById('img').appendChild(img);
  });   


      }
    

    // tenantId = 'f8cdef31-a31e-4b4a-93e4-5f571e91255a' # Paste your own tenant ID here
    // appId = '3b905491-3bea-444a-bb19-32e4fa8e2d39' # Paste your own app ID here
    // appSecret = '87548d60-a212-4e65-99b0-b67b9d6b5cf3' # Paste your own app secret here
    // // SVj8Q~_ZbrTy--I-0BgirGB3GteuvbDq~gai1bLD
    // url = "https://login.microsoftonline.com/%s/oauth2/token" % (tenantId)

    // resourceAppIdUri = 'https://api.securitycenter.microsoft.com'

    // body = {
    //     'resource' : resourceAppIdUri,
    //     'client_id' : appId,
    //     'client_secret' : appSecret,
    //     'grant_type' : 'client_credentials'
    // }
    // var headers = new Headers();
    // var bearer = "Bearer " + access_token;
    // headers.append("Authorization", bearer);
    // var options = {
    //      method: "GET",
    //      headers: headers
    // };
    // var graphEndpoint = "https://graph.microsoft.com/v1.0/me";

    // fetch(graphEndpoint, options)
    //     .then(function (response) {
    //          //do something with response
    //     })
    // data = urllib.parse.urlencode(body).encode("utf-8")

    // req = urllib.request.Request(url, data)
    // response = urllib.request.urlopen(req)
    // jsonResponse = json.loads(response.read())
    // aadToken = jsonResponse["access_token"]

     </script>
    
    
    <!-- </script> -->

  </body>
</html>