
    .my-card{
      border: 2px solid #ccc;
      display: flex;
      border-radius: 8px;
      height: auto;
      margin-bottom: 30px;
    }
    
    #set-head{
      justify-content: space-between; 
      align-items: center; 
      margin-top: 100px;
      margin-bottom: 20px;
    }
    
  
    #iden-img{
      width: auto;
      height: 100px;
      margin-top: 40px;
    }
    
    #set-footer{
      height: 50px; /* Adjust the height as needed */
      font-size: 14px;
      /* text-align: right; */
    }
    #edited_date{
      text-align: right;
      
    }
    #set-img{
      display: inline-block;
      padding-left: 10px;
      padding-right: 78px;
    }

    #set-group-icon{
      color: #b9bfcb; 
      float:right; 
      margin-top:10px; 
      margin-right:30px;
    }
    #plant_name{
      color: #557A46;
      font-weight: 700;
      font-size: 20px;
      font-style: italic;
      padding-left: 30px;
    }
    #post-message{
      padding-left: 30px;
    }
