*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background: linear-gradient(to right, #c9c9c7, #d3d2cc, #dcdcd0, #e7e5d5, #f1eed9);
    padding: 40px;
}

.according{
    display: flex;
    max-width: 1010px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding: 45px 90px 45px 60px;
}

.according .image-box{
    height: 360px;
    width: 300px;


}
.according .image-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.according .according-text{
    width: 60%;
}

.according .according-text .title{
    font-size: 35px;
    font-weight: 600;
    color: aquamarine;
}
.according .according-text .faq-text{
    margin-top: 25px;

}
.according .according-text li{
    list-style: none;
}

.according-text li .question-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.question-text li.question-arrow .question{
    font-size: 18px;
    font-weight: 500;
    /* color: aqua; */
}

.question-text li.question-arrow .arrow{
    font-size: 20px;
    
}

.question-arrow .arrow{
    font-size: 20px;

}
.according-text li .line{
    display: block;
    height: 2px;
    width: 100%;
    margin:10px 0;
    background: #784595;
}