
{% extends "base.html" %}

{% block content %}
<style >
  #con{
    width: 1000px;
/*    background-color: blue;*/
    margin-top: 200px;
    margin-bottom: 200px;
/*    text-align: center;*/
/*  padding: ;*/
/*    position: center;*/
  }
</style>

<div class="card my-card" id="crad-commu">
    
  <div class="card-image">
      
  </div>
  <div class="card-content">
      <div class="head-right"><i class="fa-solid fa-user-group" id="set-group-icon" ></i></div>
      <head class="card-head" id="set-head" ><img src="static/img/avatar/1.png" width="44px" style="margin-left: 10px; margin-top:10px;"> chi
      
    </head>
    <div class="set-time"><time datetime="2024-29-2" id="set-time" >Feb 29, 2024</time></div>
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48" id="set-img">
          <img src="static/img/pla.jpg" alt="Placeholder image" id="iden-img">
        </figure>
      </div>
      <div class="media-content" id="set-media">
        <p>Real Chiiii</p>
        <p>@realchii</p>
      </div>
    </div>

    <footer class="card-footer" id="set-footer"><i class="fa-solid fa-file-lines" style="padding-right: 4px;"></i>doc chichi</footer>
  </div>
</div>


  <div>
            
  <div id="commu_container">
      
      <div id="con">
          
      </div>
  </div>
</div>
<div id="value" value ={{current_user.id}}></div>

<script >

	function handleClickEdit(element) {
		var input = document.getElementById("edit")
        var value = element.getAttribute("value");

        var x = value.split(',')
        var check = [x[0],x[1]]

        $("#edit_container"+value[0]).toggle("fast")
        $("#editValue").attr("c", check);
        $('#editValue'+value[0]).val(x[2]);
      }
  function editgy(element){
    var da = element.value.split(",")
    var x = document.getElementById("editValue"+da[0]).value
    // console.log(da[1])
    var account_id = da[1]
    var id = da[0]
    var message = x
    dataForm = {"account_id":account_id , "id":id,"message":x}
    console.log(dataForm)
    $.post("/edit/commu",dataForm,function(data){
      location.reload()
    })   
  }

	function handleClickDelete(element) {
      var value = element.getAttribute("value");
      value = value.split(",")
      console.log(value)
      let data = {"id":value[0] , "account_id":value[1]}
      if (!confirm("Delete " + "sure" + '?')) {
      return false;
    }
    console.log("pass")
      $.post("/delete/commu", data, function (data_commu) {
        location.reload()
      });
    }
  
	function createbox(data){
        var user = document.getElementById("value")
        var da = user.getAttribute("value")
        console.log(data)
        for(let i=0;i<data.length;i++){
            console.log(data[i]["avatar_url"])
            if(!(data[i]["removed_date"])){
                var x =`<div id="box_add_history">
                          <img src="`+data[i]["avatar_url"]+`" width=50>
                          <p>Name :`+data[i]["name_user"]+`</p>
                           <p id="shared_date">Shared date :`+ data[i]["shared_date"]+`</p>
                           <p id="edited_date">Updated date :`+ data[i]["edited_date"]+`</p>
                           <p id="plant_name" >Plant Name:`+data[i]["plant_name"] +`</p>
                          <button id="plant_ifo" value="`+[data[i]["id"],data[i]["img_plant"],data[i]["plant_name"]]+`" onclick="go_to_comment(this)">
                            <img src ="`+data[i]["img_plant"]+`" width=100 >
                          </button>
                          <div id="data">
                            <p>Message :</p>
                            <p>`+data[i]["message"]+`</p>

                          
                        </div>
                        `
                  
                  if(data[i]["account_id"]==da){
                    x+=`<div id="data">
                                <a id="delete_button" value="`+[data[i]["id"],data[i]["account_id"]]+`" onclick="handleClickDelete(this)">🗑️</a>
                                <a id="edit_button" value="`+[data[i]["id"],data[i]["account_id"],data[i]["message"]]+`" onclick="handleClickEdit(this)">✏️</a>
                              </div>
                        <div id="edit_container`+data[i]["id"]+`" style="display:none;">
                            <label>Edit Box</label>
                            <input type="text" name="edit" id="editValue`+data[i]["id"]+`">
                            <button id="submitt" value="`+[data[i]["id"],data[i]["account_id"]]+`" onclick = "editgy(this)">submit</button>
                        </div>`
                  }
                  $("#con").prepend(x);
            }
            
        }
    }
    function go_to_comment(element){
      var x =element.split(",")
      var data={"comment_id":x[0],"plant_img":x[1],"plant_name":x[2]}
      $.post("/comment/data", data, function (data_commu){
        // window.location.href = "comment.html";
      })
    }
    
    function commentna(datay){
      var value = document.getElementById("input"+datay.value+"").value
      var data={"history_id":datay.value,"message":value}
      // console.log(datay)
      // console.log(value)
      $.post("/comment/add",data,function(data){
        location.reload()
      })
    }
    $(document).ready(function () {
        $.getJSON("/commu/data", function (data) {

            createbox(data);
            // console.log(data)
      })
    });

</script>
{% endblock %}
