{% extends "base.html" %}

{% block content %}
<div id="edit_container" style="display:none;">
	<label>Edit Box</label>
	<input type="text" name="edit" id="edit" c="">
	<button id="submitt" >submit</button>
</div>
<div id="commu_container">
    
</div>

<script >
	function handleClickEdit(element) {
		var input = document.getElementById("edit")
        var value = element.getAttribute("value");

        var x = value.split(',')
        var check = [x[0],x[1]]

        $("#edit_container").toggle("fast")
        $("#edit").attr("c", check);
        $('#edit').val(x[2]);
      }
    $("#submitt").click(function(){

    	var y = $("#edit").val()
    	var cValue = $("#edit").attr("c");
    	var list_c = cValue.split(",")
    	data = {"message":y "id":list_c[0] "account_id":list_c[1]}
    	.post("/edit/commu",data,function (edit_commu){
        	location.reload()
    	})
    })
	function handleClickDelete(element) {
      var value = element.getAttribute("value");
      value = value.split(",")
      let data = {"id":value[0] , "account_id":value[1]}
      if (!confirm("Delete " + "sure" + '?')) {
      return false;
    }
    // console.log(value)
      $.post("/delete/commu", data, function (data_commu) {
        location.reload()
      });
	function createbox(data){
        for(let i=0;i<data.length;i++){
            if(!(data[i]["removed_date"])){
                var x =`<div id="box_add_history">
                          <button id="plant_ifo">
                            <img id ="`+data[i]["identified_img"]+`" width=100 >
                          </button>
                          <div id="data">
                            <p id="identified_date">identified_date :`+ data[i]["identified_date"]+`</p>
                            <a id="delete_button" value="`+[data[i]["id"],data[i]["account_id"]]+`" onclick="handleClickDelete(this)">🗑️</a>
                            <a id="edit_button" value="`+[data[i]["id"],data[i]["account_id"],data[i]["message"]]+`" onclick="handleClickEdit(this)">✏️</a>
                          </div>
                        </div>
                        <div id="comment_zone">
                          <input id="input`+data[i]["id"]+`" x=`+data[i]["id"]+`>
                            <div id="coment_container`+data[i]["id"]+`">
    
                            </div>
                        </div>`

              $("#commu_container").prepend(x);
            }
            
        }
    }
    $(document).ready(function () {
        $.getJSON("/commu/data", function (data) {

            createbox(data);
      })
        $.getJSON("/commu/data", function (data) {

            createbox(data);
      })
    });

</script>
{% endblock %}