
{% extends "base.html" %}

{% block content %}
<style >
  #con{
    width: 1100px;
/*    background-color: blue;*/
    margin-top: 200px;
    margin-bottom: 200px;
/*    text-align: center;*/
    /*padding: 50px;*/
/*    position: center;*/
    /*margin: 20px;*/
    justify-content: space-between;
  }
</style>

            
  <div class="d-flex justify-content-around" id="commu_container">
      
      <div class="row row-cols-2" id="con">
          
      </div>
  </div>
<!-- </div> -->
<div id="value" value ={{current_user.id}}></div>

<script >
  
	function handleClickEdit(element) {
		var input = document.getElementById("edit")
        var value = element.getAttribute("value");

        var x = value.split(',')
        var check = [x[0],x[1]]

        $("#edit_container"+value[0]).toggle("fast")
        $("#editValue").attr("c", check);
        $('#editValue'+value[0]).val(x[2]);
      }
  function editgy(element){
    var da = element.value.split(",")
    var x = document.getElementById("editValue"+da[0]).value
    var account_id = da[1]
    var id = da[0]
    var message = x
    dataForm = {"account_id":account_id , "id":id,"message":x}
    $.post("/edit/commu",dataForm,function(data){
      location.reload()
    })   
  }

	function handleClickDelete(element) {
      var value = element.getAttribute("value");
      value = value.split(",")
      let data = {"id":value[0] , "account_id":value[1]}
      if (!confirm("Delete " + "sure" + '?')) {
      return false;
    }
      $.post("/delete/commu", data, function (data_commu) {
        location.reload()
      });
    }
  
    function createbox(data) {
      var user = document.getElementById("value");
      var da = user.getAttribute("value");
      for (let i = 0; i < data.length; i++) {
          if (!(data[i]["removed_date"])) {
              var editButton = "";
              var deleteButton = "";
              if (data[i]["account_id"] == da) {
                  editButton = `<a id="editt_button" value="` + [data[i]["id"], data[i]["account_id"], data[i]["message"]] + `" onclick="handleClickEdit(this)"><i class="fa-solid fa-pen"></i></a>`;
                  deleteButton = `<a id="delete_buttonn" value="` + [data[i]["id"], data[i]["account_id"]] + `" onclick="handleClickDelete(this)"><i class="fa-solid fa-trash-can"></i></a>`;
              }
              var x = `<div class="card my-card" id="crad-commu">
  
                        <div class="card-content">
                            <div class="head-right" id="set-group-icon">
                              ${editButton}
                              ${deleteButton}
                            </div>
                            <head class="card-head" id="set-head"><img src="` + data[i]["avatar_url"] + `" width="44px" style="margin-left: 10px; margin-top:10px;">
                              
                              <p id="set-name" style="display:inline; font-size:16px; font-weight:600;">` + data[i]["name_user"] +" •"+`</p> 
                                <p id="set-time" style="display:inline; font-size:12px;">` + data[i]["shared_date"] + `</p>
                              
                          </head>
                          
                          <div class="media">
                            <div class="media-left">
                              <figure class="image is-48x48" id="set-img">
                                <img src="` + data[i]["img_plant"] + `" alt="Placeholder image" id="iden-img">
   
                              </figure>
                            </div>
                            <div class="media-content" id="set-media">
                              <p id="plant_name">` + data[i]["plant_name"] + `</p>
  
                              <div id="data">
                                <p id="post-message">` + data[i]["message"] + `</p>
                              </div>
                            </div>
                          </div>
  
                          <footer class="card-footer" id="set-footer">
                            <p id="edited_date" style="font-size:12px;">Updated date: ` + data[i]["edited_date"] + `</p>
                            <button id="plant_ifo" value="` + [data[i]["id"], data[i]["img_plant"], data[i]["plant_name"]] + `" onclick="go_to_comment(this)" style="padding-right: 4px;"></button>
                          </footer>
                        </div>
                      </div> `;
  
              if (data[i]["account_id"] == da) {
                  x += `<div id="edit_container` + data[i]["id"] + `" style="display:none;">
                              <label>Edit Box</label>
                              <input type="text" name="edit" id="editValue` + data[i]["id"] + `">
                              <button id="submitt" value="` + [data[i]["id"], data[i]["account_id"]] + `" onclick="editgy(this)">submit</button>
                          </div>
                          `;
              }
              $("#con").prepend(x);
          }
  
      }
  }
  
    function go_to_comment(element){
      var x =element.value.split(",")
      var data={"commu_id":x[0],"account_id":x[1]}

      $.post("/<comment>", data, function (data_commu){
        window.location.href = "/comment_next?commu_id=" + data['commu_id'] + "&account_id=" + data['account_id'];
});
    }
    
    function commentna(datay){
      var value = document.getElementById("input"+datay.value+"").value
      var data={"history_id":datay.value,"message":value}
      $.post("/comment/add",data,function(data){
        location.reload()
      })
    }
    $(document).ready(function () {
        $.getJSON("/commu/data", function (data) {

            createbox(data);
      })
    });

</script>
{% endblock %}
