{% extends "base.html" %}

{% block content %}
<div class="contact-form">
    <form method="POST">
        <h1>Contact Us</h1>
        <div class="input-container">
            <input type="text" id="name" name="name" placeholder="Enter Your Name*" required></input>
        </div>
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder="Enter email*" required>
        </div>
        <div class="input-container">
            <textarea name="content" placeholder="Write Your Message Here!*" rows="8" cols="50"></textarea>
        </div>

        
        <input type="submit" name="submit" value="Send">
    </form>
</div>
{% endblock %}
