<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
  <!-- our own css -->
  <link rel="stylesheet" href="static/css/faqs.css">

  <!-- Boxicons CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">

  <!-- remixicon -->
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"/>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="according">
        <div class="image-box">
            <img src="static/img/main.png" alt="">
        </div>
        <div class="acording-text">
            <div class="title">FAQ</div>
        
        <ul class="faq-text">
            <li>
                <div class="question-arrow">
                    <span class="question">What information do I need to provide to identify a plant ?</span>
                    <i class="bx bxs-chevorn-down arrow"></i>                
                </div>
                <span class="line"></span>
            </li>

            <li>
                <div class="question-arrow">
                    <span class="question">How can I report errors or inaccuracies in the plant information ?</span>
                    <i class="bx bxs-chevorn-down arrow"></i>                
                </div>
                <span class="line"></span>
            </li>

            <li>
                <div class="question-arrow">
                    <span class="question">What do I do if I can't find the plant I'm looking for ?</span>
                    <i class="bx bxs-chevorn-down arrow"></i>                
                </div>
                <span class="line"></span>
            </li>
            <li>
                <div class="question-arrow">
                    <span class="question">Can I use the website to identify plants from any location ?</span>
                    <i class="bx bxs-chevorn-down arrow"></i>                
                </div>
                <span class="line"></span>
            </li>
            <li>
                <div class="question-arrow">
                    <span class="question">Can I upload multiple photos for plant identification ?</span>
                    <i class="bx bxs-chevorn-down arrow"></i>                
                </div>
                <span class="line"></span>
            </li>
        </ul>
    </div>
    </div>
    
</body>


</html>

