<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
  <!-- our own css -->
  <link rel="stylesheet" href="static/css/faqs.css">

  <!-- Boxicons CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">

  <!-- remixicon -->
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"/>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <section>
    <div class="parent-container">
        <h1>FAQS</h1>
        <ul class="faq">
         <li>
                <h3 class="question">What do I do if I can't find the plant I'm looking for ?
                  <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
                  ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
                  fermentum risus. Phasellus venenatis ultricies dignissim.</div>
         </li>  
         <li>
            <h3 class="question">Can I upload multiple photos for plant identification ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
              ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
              fermentum risus. Phasellus venenatis ultricies dignissim.</div>
          </li>
          <li>
            <h3 class="question">What information do I need to provide to identify a plant ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
              ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
              fermentum risus. Phasellus venenatis ultricies dignissim.</div>
          </li>
          <li>
            <h3 class="question">Can I use the website to identify plants from any location ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
              ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
              fermentum risus. Phasellus venenatis ultricies dignissim.</div>
          </li>
         
          <li>
            <h3 class="question">How can I report errors or inaccuracies in the plant information ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">Answer. Donec vitae tellus risus. Aenean sed fermentum risus. Phasellus venenatis 
              ultricies dignissim. Nunc ante lectus, accumsan non porta at. Donec vitae tellus risus. Aenean sed 
              fermentum risus. Phasellus venenatis ultricies dignissim.</div>
          </li>
          
          
          
        </ul>
      </div>
    </section> 
    
</body>
    <!--link for JavaScript -->
    <script src="static/js/faqs.js"></script>
</html>

