<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
  <!-- our own css -->
  <link rel="stylesheet" href="static/css/faqs.css">

  <!-- Boxicons CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">

  <!-- remixicon -->
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"/>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <section>
    <div class="parent-container">
        <h1>FAQS</h1>
        <ul class="faq">
         <li>
                <h3 class="question">What do I do if I can't find the plant I'm looking for ?
                  <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer"> If you have some information about the plant, 
                  such as its habitat, leaf shape, flower color, or growth habit, try using multiple characteristics to narrow down your search. 
                  Sometimes, focusing on secondary features can lead to a successful identification.</div>
         </li>  
         <li>
            <h3 class="question">Can I upload multiple photos for plant identification ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">I'm sorry, but the platform currently only allows for the upload of a single photo for plant identification. 
              You can select the most representative image that showcases the plant's features clearly. 
              If you have multiple photos, you might need to choose the most informative one before submitting your query for identification. </div>
          </li>
          <li>
            <h3 class="question">What information do I need to provide to identify a plant ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">High-quality photos that capture different parts of the plant, 
              such as leaves, flowers, stems, and any distinctive features. 
              Close-up shots can be particularly useful for highlighting specific details.</div>
          </li>
          <li>
            <h3 class="question">Can I use the website to identify plants from any location ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">Yes, you can typically use websites or online plant identification tools to identify plants from any location. </div>
          </li>
         
          <li>
            <h3 class="question">How can I report errors or inaccuracies in the plant information ?
              <div class="plus-minus-toggle collapsed"></div>
            </h3>
            <div class="answer">Navigate to the website's "Contact Us" page: 
              Look for a link or button labeled "Contact Us" on the website's homepage or in the site's menu/navigation bar.
              Fill out the contact form or email provided with as much detail as possible about the error or inaccuracy you've encountered. 
            </div>
          </li>
          
          
          
        </ul>
      </div>
    </section> 
    
</body>
    <!--link for JavaScript -->
    <script src="static/js/faqs.js"></script>
</html>

