{% extends "base.html" %}
<!-- <link rel="stylesheet" href="static/css/landing.css"> -->
{% block content %}
    

        
            <div class="plant-text">
                
                <h5>Nature's code decoded</h5>
                <h4>Explore the green universe by</h4>
                <h1>BotaniBuzz</h1>
                <p>the secrete of improved plant breeding,<br> apart from scientific know, is love</p>
                <!-- <a href="#">the secrete of improved plant breeding, apart from scientific know,is love</a> -->
                {% if current_user.is_authenticated%}
                <a href="{{ url_for('search')}}">Discover</a>
                <!-- <a href="#" class="ctaa"></a> -->
                {% else %}
                <a href="{{ url_for('login')}}">Discover</a>
                {% endif %}
            </div>
            <div class="plant-img">
                <img src="static/img/dokchaba.png" >

            </div>

            </div>
        
    

        <!-- scrollreveal effect -->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!-- Javascript -->
        <script src="landing.js"></script>

{% endblock %}




