
{% extends "base.html" %}

{% block content %}
 <div class="container">
<form id="addContactForm" method="POST">
      <h1>Login</h1>
      <p>Enter your account details to login </p>
      <div class=box1>
        <!-- <label for="email">Email</label> -->
        <input type="email" id="email" name="email" placeholder="Enter email" required>
      </div>
      <div class=box2>
        <!-- <label for="lastname">Password</label> -->
        <input type="password" id="password" name="password" placeholder="Enter password" required>
      </div>

      <a href="#" class="forget-password">Forgot Password ?</a>
      
      <input type="submit" name="submit" value="Login">
    </form>
      <div class="divider d-flex align-items-center my-3">
        <p class="text-center fw-bold mx-0 mb-0 text-muted">Or</p>
      </div>
           
          <div class="OtherSingin">
              <div class="MicrosoftButton">
                  <button type="button" class="InputBg"><i class="ri-microsoft-fill"></i>Microsoft</button>
                  
              </div>

              <div class="FacebookButton">
                <button type="button" class="InputBg"> <i class="ri-facebook-fill"></i>Facebook</button>
                
              </div>
          </div>
        <div class="donothave">Don't have an account yet ? <a href="{{ url_for('signup')}}" class="signup">Sign up</a></div>
</div>
  

{% endblock %}



