{% extends "base.html" %}

{% block content %}
    <style >
        #edit_profile{
            width: 500px;
/*            height: 560px;*/
            border-radius: 40px;
            background-color: #f2f2f2;
            padding: 50px;
            margin-top: 80px; 
            margin-left: 100px;
            color: black;
        }
    </style>
    
    <div class="profile_box">
        
        <div id="edit_profile">
            <div>
              {% for message in get_flashed_messages() %}
                  <div class="alert">{{ message }}</div>
              {% endfor %}
          </div>
            <div>
                <img id ="current_avatar"src={{current_user.avatar_url}} width="200">
                <button hidden="hidden" id ="edit_button"><img  src="static/img/pen.png" width="20" ></button>
            </div>
            
            <div class="row" id="select_avatar" style="display:none;">
                
                <div class ="col" id="avatar_to_select">
                    {% for i in range(15) %}
                        <button class="avatarna" id="avatar" value="{{i+1}}">
                        <img src="static/img/avatar/{{i+1}}.png" width="50">
                    </button >
                    {% endfor %}
                    
                </div>
            </div>
            <div class="text-show">
                <div class="">
                    <p id ="edit_email">email : {{current_user.email}}</p>
                <button hidden="hidden" id ="edit_button_email">edit</button>
                <div id= "div_edit_email"style="display: none;">
                    <input id="email_value" placeholder="Enter new email">
                    <button id ="confirm_edit_button_email">confirm</button>
                </div>
                
                </div>
                <div class="">
                <p id ="edit_name">Name : {{current_user.name}}</p>
                <button hidden="hidden" id ="edit_button_name">edit</button>
                <div id= "div_edit_name"style="display: none;">
                    <input id="name_value" placeholder="Enter new name">
                    <button id ="confirm_edit_button_name">confirm</button>
                </div>
                </div>
                <div class="">
                <p id ="edit_password">Password</p>
                <button hidden="hidden" id ="edit_button_password">edit</button>
                <div id= "div_edit_password"style="display: none;">
                    <input id="password_value" placeholder="Enter new password">
                    <button id ="confirm_edit_button_password">confirm</button>
                </div>
                </div>
            </div>
            <div id="to_edit">
                <button id="go_edit">edit</button>
                <div id="div_check_password" style="display:none;">
                    <input id="Enter_password" type="password" placeholder="Enter password">
                    <button id="check_password">submit</button>
                </div>
                
            </div>
            <div id="form" hidden="hidden">
                <button id="submitt">confirm</button>
                <button id="cancel">cancel</button>
            </div>
        </div>

    </div>
    <p id="get" avatar={{current_user.avatar_url}} name={{current_user.name}} email={{current_user.email}} login_with={{current_user.login_with}}></p>
    <script>
        var divElement = document.getElementById('get');
        var email = divElement.getAttribute('email');
        var avatar = divElement.getAttribute('avatar');
        var name = divElement.getAttribute('name');
        var login_with = divElement.getAttribute('login_with');
        
        var password = "";

        $("#edit_button").click(function(){
            $("#select_avatar").toggle("fast")
        })
        var buttons = document.querySelectorAll(".avatarna");
        buttons.forEach(function(button) {
            button.addEventListener("click", function() {
                var buttonValue = this.value.toString();
                // console.log("Button value:", buttonValue);
                $("#current_avatar").attr("src","static/img/avatar/"+buttonValue+".png")
                avatar = "static/img/avatar/"+buttonValue+".png"
            });
        });
        $("#edit_button_email").click(function(){
            $("#div_edit_email").toggle("fast")
        })
        $("#edit_button_name").click(function(){
            $("#div_edit_name").toggle("fast")
        })
        $("#edit_button_password").click(function(){
            $("#div_edit_password").toggle("fast")
        })
        $("#confirm_edit_button_email").click(function(){
            // console.log("11")
            var email_value = document.getElementById("email_value")
            var confirmButton = document.getElementById("confirm_edit_button_email");
            confirmButton.innerHTML = '<img id="check_email"  src="static/img/check.png" width="30">';
            email = email_value.value
            // console.log(email)
        })
        $("#confirm_edit_button_name").click(function(){
            // console.log("11")
            var name_value = document.getElementById("name_value")
            var confirmButton = document.getElementById("confirm_edit_button_name");
            confirmButton.innerHTML = '<img id="check_name"  src="static/img/check.png" width="30">';
            name = name_value.value
            // console.log(email)
        })
        $("#confirm_edit_button_password").click(function(){
            // console.log("11")
            var name_value = document.getElementById("password_value")
            var confirmButton = document.getElementById("confirm_edit_button_password");
            confirmButton.innerHTML = '<img id="check_password"  src="static/img/check.png" width="30">';
            password = password_value.value
            // console.log(email)
        })
        $("#go_edit").click(function(){
            $('#div_check_password').toggle('fast')
            
        })
        $("#check_password").click(function(){
            var values = document.getElementById("Enter_password").value
            var formData = {"password":values}  
            $.post("/checkpassword", formData, function (response) {
            if (response.ans) {
                $('#form').removeAttr('hidden');
                $('#to_edit').attr('hidden', 'hidden');
                $('#edit_button_name').removeAttr('hidden');
                $('#edit_button_email').removeAttr('hidden');
                $('#edit_button_password').removeAttr('hidden');
                $('#edit_button').removeAttr('hidden');
            } else {
                location.reload()
            }
        })
        })
        $("#cancel").click(function(){
            location.reload()
        })
        $("#submitt").click(function(){

            var formData={"email":email,"name":name,"avatar_url":avatar,"password":password}
            $.post("/update", formData, function () {
                // console.log(x)
                location.reload()
            });
        })
    </script>    
    
{% endblock %}

