{% extends "base.html" %}

{% block content %}

<div class="container">
    <form id="addContactForm" method="POST">
      <h1>Signup</h1>
      <p>Welcome to BotaniBuzz !</p>
      <div>
          {% for message in get_flashed_messages() %}
              <div class="alert">{{ message }}</div>
          {% endfor %}
      </div>
      <div class=box1>
        <input type="text" id="signup" name="name" placeholder="Username" required maxlength="20">
        <!-- <div id="alertContainer"></div> -->
      </div>
      <div class=box2>
        <input type="email" id="email" name="email" placeholder="Enter email" required>
      </div>
      <div class=box3>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
      </div>
        
      <input type="submit" name="submit" value="Signup">

      <div class="divider d-flex align-items-center my-3">
        <p class="text-center fw-bold mx-0 mb-0 text-muted">Or</p>
      </div>
           
          <div class="OtherSingin">
              <div class="MicrosoftButton">
                  <button type="button" class="InputBg"><i class="ri-microsoft-fill"></i>Microsoft</button>
                  
              </div>

              <div class="FacebookButton">
                <button type="button" class="InputBg"> <i class="ri-facebook-fill"></i>Facebook</button>
                
              </div>
          </div>
        <div class="donothave">Already have an account ? <a href="{{ url_for('login')}}" class="login">Login</a></div>
    </form>

  </div>
  <script >
    
  </script>
{% endblock %}



